<nav class="navbar">
  <div class="navbar-brand">
    <span class="logo">Gmail-lite</span>
  </div>
  <div class="navbar-buttons">
    <%= button_to "Recevoir un email", emails_path, data: { turbo_frame: "email" } %>
    <%= button_to "Vider la boite mail", email_path("destroy_all"), data: { turbo_frame: "email" }, method: :delete %>
  </div>
</nav>

  <%= turbo_frame_tag "email" do %>
  
    <div class = "mailbox">
      <table>
        <th colspan = "3">Emails</th>
        <%@emails.sort.reverse_each do |email|%>
          <%=render 'email', email: email%>
          <%=render 'mailcontent', email: email%>
        <%end%>
      </table>
    </div>    

  <%end%>